<server description="WS-AT Account Web Service Server">

    <featureManager>        
        <feature>xmlWS-4.0</feature>
        <feature>xmlBinding-4.0</feature>
        <feature>wsAtomicTransaction-1.2</feature>
        <feature>enterpriseBeansLite-4.0</feature>
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint" httpPort="9081" httpsPort="9444" host="*" />

    <transaction totalTranLifetimeTimeout="120s" clientInactivityTimeout="60s" heuristicRetryInterval="60s" heuristicRetryLimit="10" />

    <wsAtomicTransaction sslEnabled="true" />

    <ssl id="defaultSSLConfig" keyStoreRef="defaultKeyStore" trustStoreRef="defaultTrustStore" />
    <keyStore id="defaultKeyStore" password="Liberty" location="${server.config.dir}/resources/security/key.p12" />
    <keyStore id="defaultTrustStore" password="Liberty" location="${server.config.dir}/resources/security/key.p12"/>

    <webApplication id="TransactionWebService" location="TransactionWebService.war" contextRoot="/" />
</server>